:root {
    --telescope-highlight: #88acf355;
    --telescope-highlight-hover: #6a8dff9a;
    --telescope-text-color: #1f2021;
}

#telescope {
    color: var(--telescope-text-color);
}

#telescope blockquote {
    margin-left: 0;
    padding-left: 1rem;
    border-left: 3px solid var(--telescope-text-color);
    display: block !important;
}

#telescope .details {
    display: inline;
    border-radius: 3px;
    background-color: var(--telescope-highlight);
    transition: background-color 0.5s ease;
    cursor: pointer;
}

#telescope .details.open {
    background-color: transparent;
    cursor: initial;
}

#telescope .details.open>.summary,
#telescope .details.close>.expanded {
    display: none;
}

#telescope .details.close:hover {
    background-color: var(--telescope-highlight-hover);
}

#telescope .details *,
#telescope p * {
    list-style: none;
    display: inline;
}

body {
    background: #fff;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
}

p {
    font-family: 'IBM Plex Mono', monospace;
}

.container {
    overflow: hidden;
}

.menu-wrapper {
    position: absolute;
    z-index: 1;
    left: 10vw;
    top: 15vh;
    color: #FFF;
    width: 20vw;
}

.home-link {
    text-decoration: none;
    color: #FFF;
}

.home-description {
    font-size: 0.9em;
    line-height: 1.8em;
}

.link-dot:hover:after {
    content: "";
    position: absolute;
    background: #FFF;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    left: 45px;
    top: 89px;
}
  
.link-dot:hover {
    cursor: pointer;
}

.video-wrapper {
    width: 150vw;
    height: 100vh;
}

.video {
    height: 150%;
    z-index: -1;
}

#text-container {
    color: #000000;
    margin: 10vh 4vw;
    font-size: 1rem;
    display: flex;
    line-height: 2rem;
    font-family: 'IBM Plex Mono', monospace;
    width: 50vw;
}

@media only screen and (max-width: 1000px) {
    #text-container {
        margin: 10vh 8vw;
        font-size: 2.3rem;
        line-height: 5rem;
        display: block;
    }

    video {
        display: none;
    }

    img {
        display: none;
    }
}